# Database Configuration (PostgreSQL)
# --------------------------------------------
DB_USER=student
DB_PASSWORD=student_secure_password
DB_NAME=wp_labs
DB_HOST=localhost
DB_PORT=5432

# JWT Configuration
# --------------------------------------------
# Секретные ключи для подписи JWT токенов
JWT_ACCESS_SECRET=super_secret_access_key_change_in_prod
JWT_REFRESH_SECRET=super_secret_refresh_key_change_in_prod

# Время жизни токенов в минутах
JWT_ACCESS_EXPIRATION=15          # 15 минут
JWT_REFRESH_EXPIRATION=10080      # 7 дней 

# OAuth Yandex Configuration
# --------------------------------------------
# https://oauth.yandex.ru/
YANDEX_CLIENT_ID=your_yandex_client_id
YANDEX_CLIENT_SECRET=your_yandex_client_secret
YANDEX_REDIRECT_URI=http://localhost:4200/auth/oauth/yandex/callback


# OAuth VK Configuration
# --------------------------------------------
# https://dev.vk.com/
VK_CLIENT_ID=your_vk_client_id
VK_CLIENT_SECRET=your_vk_client_secret
VK_REDIRECT_URI=http://localhost:4200/auth/oauth/vk/callback