# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg
*.egg-info/
dist/
build/
*.egg-info

# Виртуальное окружение
venv/
env/
.venv/

# Переменные окружения
.env

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Alembic
alembic/__pycache__/
alembic/versions/__pycache__/

# Docker
docker-compose.override.yml